.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.bg::after {
  content: '';
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #1fa7f1;
  opacity: 0.1;
  width: 80vw;
  aspect-ratio: 1;
  display: block;
  border-radius: 50%;
  /*animation: pulsate2 3s linear infinite;*/
}
.bg::before {
  content: '';
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #1fa7f1;
  opacity: 0.1;
  width: 50vw;
  aspect-ratio: 1;
  display: block;
  border-radius: 50%;
}

.bg .dot {
  position: absolute;
  inset: 0;
}
.bg .dot::before {
  content: '';
  position: absolute;
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #1fa7f1;
  border-radius: 50%;
  filter: blur(10px);
}

.bg .dot::after {
  content: '';
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #1fa7f1;
  opacity: 0.1;
  width: 20vw;
  aspect-ratio: 1;
  display: block;
  border-radius: 50%;
}

.application .mainBox {
  isolation: isolate;
  position: relative;
}
.application .mainBox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  background: url('../images/in/products_bg.jpg') center top no-repeat;
  background-size: cover;
  z-index: -2;
}
.application .changePage {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5%;
}
.application .changePage a {
  width: 126px;
  color: #262c78;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 50px;
  border: #262c78 1px solid;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
.application .changePage a::before {
  content: '';
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: #262c78;
  z-index: -1;
  transition: all 0.3s ease;
}
.application .changePage a::after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  -webkit-mask: url('../images/icon/icon_ar.svg') center no-repeat;
  mask: url('../images/icon/icon_ar.svg') center no-repeat;
  background: #262c78;
  transition: all 0.3s ease;
  margin: 0 0 0 10px;
}
.application .changePage a.prev::after {
  transform: scaleX(-1);
  order: -1;
  margin: 0 10px 0 0;
}
.application .changePage a:hover {
  color: #fff;
}
.application .changePage a:hover::before {
  width: 100%;
  left: 0;
}
.application .changePage a:hover::after {
  background: #fff;
}
.application .topBox {
  position: relative;
  isolation: isolate;
  padding-bottom: 5%;
}
.application .topBox::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgb(228, 228, 228) 0%, rgba(228, 228, 228, 0) 100%);
  z-index: -2;
}
.application .topBox .contentBox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .application .topBox .contentBox {
    flex-direction: column;
  }
}
.application .topBox .sideBox {
  max-width: 750px;
  width: 54%;
}
@media screen and (max-width: 1000px) {
  .application .topBox .sideBox {
    width: 100%;
    margin: 0 auto;
    order: -1;
  }
}
.application .topBox .picBox {
  width: 100%;
  aspect-ratio: 1;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  isolation: isolate;
}
@media screen and (max-width: 767px) {
  .application .topBox .picBox {
    width: 100%;
  }
}
.application .topBox .picBox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: url('../images/in/pbg2.svg') center no-repeat;
  z-index: -1;
  animation: rotate360 20s infinite linear;
}
.application .topBox .picBox .pic {
  width: 80%;
  max-width: 610px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}
.application .infoBox {
  width: calc(46% - 20px);
}
@media screen and (max-width: 1000px) {
  .application .infoBox {
    width: 100%;
    margin-bottom: 40px;
  }
}
.application .infoBox .title {
  line-height: 1.2;
  font-size: 4rem;
  position: relative;
  margin-bottom: 40px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1440px) {
  .application .infoBox .title {
    font-size: 3.25rem;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .application .infoBox .title {
    font-size: 2.75rem;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .application .infoBox .title {
    font-size: 2.25rem;
  }
}
.application .infoBox .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 5px;
  display: block;
  background: #ff290b;
}
.application .infoBox .description {
  color: #444444;
  font-size: 1.125rem;
}
.application .bottomBox {
  /*background: #FFF;*/
  position: relative;
  padding-top: 5%;
}
@media screen and (max-width: 767px) {
  .application .bottomBox {
    padding-top: 50px;
  }
}
.application .bottomBox .blockTitle {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #202020;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .application .bottomBox .blockTitle {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 767px) {
  .application .bottomBox .blockTitle {
    font-size: 2rem;
  }
}
.application .bottomBox .blockTitle span {
  color: #262c78;
}
.application .listBox {
  display: flex;
  gap: 70px;
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .application .listBox {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 30px;
  }
}
.application .listBox .slick-list {
  width: 100%;
}
.application .listBox .item {
  padding: 50px 19px;
}
.application .listBox a:hover .picBox {
  border-color: #8086d7;
}
.application .listBox a:hover .picBox::before {
  opacity: 0.2;
}
.application .listBox a:hover .title::before {
  opacity: 1;
  animation: moveRight 10s linear infinite;
}
.application .listBox .picBox {
  aspect-ratio: 1;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  background: #fff;
  transition: all 0.3s ease;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
.application .listBox .picBox::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
  background: #c4c8f0;
  opacity: 0;
  transition: all 0.3s ease;
}
.application .listBox .picBox .pic {
  overflow: hidden;
  border-radius: 30px;
  max-width: 340px;
}
.application .listBox .title {
  max-width: 260px;
  font-size: 1.5rem;
  width: 100%;
  background: #262c78;
  border-radius: 50px;
  color: #fff;
  padding: 10px 10px;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  position: relative;
  overflow: hidden;
  line-height: 1.2;
}
@media screen and (max-width: 1440px) {
  .application .listBox .title {
    font-size: 3.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .application .listBox .title {
    font-size: 1.25rem;
  }
}
.application .listBox .title::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  background: linear-gradient(to right, rgb(236, 28, 36) 0%, rgb(38, 44, 120) 33%, rgb(236, 28, 36) 66%, rgb(38, 44, 120) 100%);
  background-size: 300%;
  background-position: left center;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
.application .slick-arrow {
  width: 38px;
  height: 38px;
  overflow: hidden;
  color: transparent;
  border-radius: 50%;
  border: #262c78 1px solid;
  transition: all 0.3s ease;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: -5px;
  z-index: 9;
}
.application .slick-arrow::before {
  content: '';
  -webkit-mask: url('../images/icon/icon_ar.svg') no-repeat center;
  mask: url('../images/icon/icon_ar.svg') no-repeat center;
  background: #262c78;
  width: 12px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.application .slick-arrow.slick-prev {
  right: auto;
  left: -5px;
}
.application .slick-arrow.slick-prev::before {
  transform: translate(-50%, -50%) scaleX(-1);
}
.application .slick-arrow:hover {
  background: #262c78;
}
.application .slick-arrow:hover::before {
  background: #fff;
} /*# sourceMappingURL=application.css.map */
